.bootstrap {
  @import "~bootstrap/scss/bootstrap";
}

.blueprint {
  @import "normalize.css/normalize";
  @import "@blueprintjs/core/lib/css/blueprint";
  @import "@blueprintjs/icons/lib/css/blueprint-icons";
  box-sizing: border-box;

  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(black, 0);
}

.inline {
  display: inline;
}

/*
//Not used right now, since they use some deprecated react stuff
.antd {
  @import 'antd/dist/antd';
}

.semantic {
  @import 'semantic-ui-css/semantic.min';
}
*/
