$gray-9: #343432;
$gray-5: #858585;
$gray-4: #a3a3a3;
$gray-3: #d6d6d6;
$gray-2: #efefef;
$gray-1: #fafafa;

 
$accent-9: #48340c;
$accent-8: #795714;
$accent-7: #a97a1b;
$accent-6: #c18b1f;
$accent-5: #f1ae27;
$accent-4: #f4be52;
$accent-3: #f7ce7d;
$accent-2: #fcefd4;
$accent-1: #fef7e9;

